@model Cart

@{
    ViewData["Title"] = "Cart";
}

<div class="container mt-5">
    <div class="card-header bg-secondary bg-gradient text-light py-2 mb-2">
        <h4 class="text-center m-0">Shopping Cart</h4>
    </div>

    @if (Model.Items != null && Model.Items.Any())
    {
        <table class="table table-hover" id="cartTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr id="row-@item.ProductId">
                        <td>
                            <img src="@item.Product.ImageURL" alt="@item.Product.Title" class="img-thumbnail" style="width: 100px; height: auto;">
                        </td>
                        <td>@item.Product.Title</td>
                        <td class="price">@($"{(item.Price).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-US"))}")</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-outline-secondary" data-product-id="@item.ProductId" data-action="decrease">-</button>
                                <span class="mx-2 quantity">@item.Quantity</span>
                                <button class="btn btn-sm btn-outline-secondary" data-product-id="@item.ProductId" data-action="increase">+</button>
                            </div>
                        </td>
                        <td class="item-total">@($"{(item.Price * item.Quantity).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-US"))}")</td>
                        <td>
                            <button class="btn btn-danger btn-sm" data-product-id="@item.ProductId" data-action="delete">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <h4 id="totalheading">Total Price: <span id="totalPrice">$0.00</span></h4>
            <button id="completePurchase" class="btn btn-success btn-lg">Complete Purchase</button>
        </div>

    }
    else
    {
        <div class="alert alert-info" id="emptyCartMessage">Your cart is empty.</div>
    }
</div>

@section Scripts {
    <script src="~/js/Cart.js"></script>
}

